html {
    scroll-behavior: smooth;
}

.aboutussection {
    background-image: url(backdance.jpg );
    background-size: cover;
    object-fit: cover;
    object-position: center;
    height: 357px;
    margin-top: -13px;
    margin-bottom: 32px;

}

.topbar {
    display: grid;
    grid-template-columns: 18% 18% 25% 25% 18%;
    column-gap: 0px;
    font-size: 12px;
    align-items: center;
    background-color: #006341;
    color: white;
    height: 40px;
}

.topbar div {
    display: flex;
    margin-right: 2px;
}

.topbar .top-info {
    margin-top: 5px;
}

.topbar img {
    margin-right: 5px;
}

.topbar .top-info a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
}

.navbar .navleft {
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 5vh;
}

.navbar div img {
    width: 80%;
    height: auto;
    margin-right: -100px;
}

.navbar .navlinks {
    width: 90%;
    background-color: #F76B0E;
    margin: auto;
    margin-top: -5vh;
    font-size: 1.2rem;

}

.navbar .navlinks ul {
    margin-left: -20px;
    display: flex;
    list-style: none;
}

.navbar .navlinks ul li {
    margin: 0.5vh 2.5vh;
}

.navbar .navlinks ul a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.navbar .navlinks ul a:hover {
    color: #006341;
    border-bottom: 4px solid #006341;
    transition: 0.5s;
}

.schoolname {
    text-align: center;
    font-size: 1.7rem;
    color: #006341;
}

body {

    font-family: "poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}


.aboutus {
    text-align: center;
    padding-top: 172px;
  
    font-size: 46px;
}

.menulinks {
    text-align: center;
   
}

.aryaschoolicon img {
    height: 128px;
    width: 42%;
    padding-left: 15px;
}

.menulinks a {
    text-decoration: none;
}

.musictext {
    padding-left: 5px;
    color: rgb(169, 154, 154);
    padding-right: 99px;
    padding-bottom: 24px;

}


.musicheading {
    font-size: 25px;
    font-weight: bold;
    padding-left: 16px;
}

.musicphoto1 img {
    width: 979px;
    height: 360px;
    margin-top: 5px;
  
    margin-left: 15px;
    border: solid orangered;
    object-fit: cover;
}

.green {
   
    margin-top: 50px;
    /*padding-right: 143px;*/
}

.aboutusheading {
    background-color: white;
    margin: -6vh 30vh 21vh 7vh;
    border-radius: 21px;
    border: 0.5px solid gray;
    box-shadow: 0px 0px 20px black;
    padding-left: 10px;
}


